$font-title: 'Work Sans', sans-serif;
$font-letter: 'Merriweather', serif;
$font-letter-historia: 'Josefin Sans', sans-serif;
$font-weight-title-light: 500;
$font-weight-historia: 400;
$font-weight-title-regular: 700;
$font-weight-title-medium: 900;
$font-weight-letter-light: 300;
$font-weight-letter-light-italic: 300;
$font-weight-letter-regular: 400;
$font-weight-letter-regular-italic: 400;

$letter-small: 1.2rem;
$letter-medium: 1.4rem;
$letter-large: 1.8rem;
$title-small: 1.4rem;
$title-medium: 1.8rem;
$title-large: 2.4rem;
$title-ex: 3.2rem;
$title-haiger: 5rem;
$title-bienvenida: 8rem;
$title-historia: 10rem;

$color-text: #212529;
$color-title-ex: #0468bf;
$color-title: #1b2021;
$color-letter: #38302e;
$color-letter-li: #e6e8e6;
$color-letter-card: #e6e8e6;
$color-letter-a: #565555;

$color-background-content: #e6e8e6;
$color-nav: #0e6ba8;
$color-btn-red-social: #f0ffff;
$color-btn-conocer-mas: #325082;
$color-nav-li-hover: #027bce;
$color-nav-link: #00487c;
$color-header-links: #f2f2f2;
$color-header-links-l: #020000;
$color-letter-btn: #1b2021;
$color-letter-historia: #0082FF;
$color-hr: #008BE4;
$color-contacto: #36A0FF;

$background-colors: (
    c-body: #fcfcfc,
    c-header: #344A53,
    c-footer: #262329,
    c-section: #FCF8FF,
    c-section-otros: #B0A8B9,
    c-cards-photos: #181719
);
$redes:(
    github: #110b11,
    facebook: #2541b2,
    linkedin: #006494,
    youtube: #FF230E
);
$redes-size:(
    links: 4.5rem,
    linkshover: 6rem
);

